#footer-block {
  max-width: 1366px;
}
#footer-block-content {
  padding: 40px;
  padding-top: 20px;
}
#footer-block-arrow-bg {
  background-image: url('/images/homepage/footer_arrow.svg');
  background-repeat: no-repeat;
  height: 47px;
  position: relative;
  top: -27px;
}

.row {
  display: flex;

  font-family: Roobert;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.left {
  width: 67px;
  margin-right: 22px;
}
.right {
  width: 100%;
  display: flex;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 69px;
  padding: 0;

  border: 4px solid #000000;
  border-radius: 22px;

  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

#title {
  align-items: center;

  font-family: Roobert;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.6;
}

#menu-block-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 13px;
  line-height: 100%;
}
#menu-block-inner .item {
  margin-top: 38px;
  width: 33%;
  display: flex;

  color: #747474;
  flex-grow: 0;
}
#menu-block-inner a {
  color: #747474;
  text-decoration: none;
}
#menu-block-inner .item-last {
  margin-top: 38px;
  width: 33%;
  display: flex;

  color: #747474;
  flex-grow: 1;
  align-items: flex-end;
}
.item-last a {
  display: flex;
  align-items: flex-end;
}
.item-last img {
  margin-left: 10px;
}

#follow-us-block {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

#socmed-block {
  display: flex;
  justify-content: center;
}

#socmed-block img {
  margin: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#socmed-block-fb:hover {
  content: url('/images/homepage/fb_icon_yellow.svg');
}

#socmed-block-ln:hover {
  content: url('/images/homepage/linkedin_icon_yellow.svg');
}

#socmed-block-tw:hover {
  content: url('/images/homepage/twitter_icon_yellow.svg');
}

#socmed-block-ig:hover {
  content: url('/images/homepage/ig_icon_yellow.svg');
}

#copyright-block {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/* Tablet version, 481px - 768px */
@media screen and (max-width: 768px) {
  #menu-block-inner {
    display: flex;
    flex-wrap: wrap;
  }
  #menu-block-inner .item {
    width: 50%;
  }
  #menu-block-inner .item-last {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  #footer-block-content {
    padding: 0 20px;
  }

  #menu-block .left {
    display: none;
  }
  #logo {
    width: 55px;
    height: 55px;
    font-size: 24px;
    border-radius: 22px;
    margin-right: 18px;
  }
  #title {
    font-size: 24px;
    line-height: 24px;
    width: auto;
  }

  #menu-block-inner .item,
  #menu-block-inner .item-last {
    font-family: Roobert;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 13px;
  }

  #menu-block-inner .item-last img {
    width: 14px;
    height: 14px;
    margin: 0;
  }
  #menu-block-inner .item-last a {
    display: flex;
    align-items: center;
  }
}
