#navbar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.navbar-button {
  width: 170px;
  height: 45px;
  color: black;
  font-size: 24px;
  font-family: Roobert;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-button:hover {
  border: 3px solid #FFB929;
  border-radius: 50px;
}
.navbar-button:active {
  background-color: #FFB929;
}
.navbar-button a {
  color: inherit;
  display: inline-block;
}
.navbar-button a:hover {
  text-decoration: none;
}
