.toplevel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1366px;
}

.header {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerImage {
  height: auto;
  max-width: 100%;
  border: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.backToHome {
  margin: 3rem 0 0;
}

#footer-toplevel {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 15px;
  }
  .headerImage {
    max-width: 60px;
    height: auto;
  }
}
