.container {
  max-width: 1366px;
}

.header {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: auto;
  max-width: 100%;
  border: none;
  vertical-align: middle;
  display: inline-block;
}

.backToHome {
  margin: 3rem 0 0;
}
