.our-teams-container {
  margin-left: 311px;
  margin-right: 311px;
}
.our-teams-container > h2 {
  font-family: Roobert;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
}

.our-teams-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.our-teams-member {
  display: flex;
  flex-direction: column;
}

.our-teams-avatar {
  width: 266px;
  height: 266px;
  border-radius: 50%;
}

#our-team-member-1 {
  border: 5px solid #f39dc0;
}
#our-team-member-2 {
  border: 5px solid #3fc9c8;
}
#our-team-member-3 {
  border: 5px solid #ffb929;
}
#our-team-member-4 {
  border: 5px solid #2e4ea1;
}

.our-teams-name {
  font-family: Roobert;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
}

.our-teams-job-role {
  font-family: Roobert;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.our-teams-company {
  font-family: Roobert;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.our-teams-back-button > button {
  all: unset;
}

.our-teams-back-button-container {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}
.our-teams-back-button {
  height: 54px;
  width: 178px;
  border-radius: 40px;
  border: 3px solid black;
  font-family: Roobert;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  background: transparent;
  transition: all 0.2s ease;
}
.our-teams-back-button:hover {
  cursor: pointer;
  border-color: #ffb929;
  background-color: #ffb929;
}

@media screen and (max-width: 768px) {
  .our-teams-container {
    margin: auto;
    max-width: 688px;
  }

  .our-teams-container > h2 {
    font-family: Roobert;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: center;
    min-height: 48px;
  }

  .our-teams-row {
    margin: auto 88px;
    margin-bottom: 78px;
  }
  .our-teams-member {
    align-items: center;
    max-width: 178px;
  }

  .our-teams-avatar {
    max-width: 178px;
    height: auto;
  }

  .our-teams-name {
    font-family: Roobert;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .our-teams-job-role,
  .our-teams-company {
    font-family: Roobert;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }

  .our-teams-back-button-container {
    margin-top: 74px;
    margin-bottom: 200px;
  }

  .our-teams-back-button {
    font-family: Roobert;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 157px;
    height: 48px;
  }
}

@media screen and (max-width: 480px) {
  .our-teams-container > h2 {
    font-family: Roobert;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: center;
  }
  .our-teams-row {
    flex-direction: column;
    margin: auto;
  }

  .our-teams-member {
    margin-bottom: 40px;
  }

  .our-teams-avatar {
    margin-bottom: 10px;
  }
}
