.gototop {
  position: fixed;
  width: 75px;
  right: 120px;
  top: 70vh;
  transform: translateY(300px);
  opacity: 0;
  transition: ease 0.6s all;
  background-color: #fffbf1;
  border-radius: 50%;
  z-index: 2;
}
.gototop:hover {
  cursor: pointer;
}
.gototop-show {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .gototop {
    right: 40px;
  }
}
