.gototop {
  position: fixed;
  width: 75px;
  right: 120px;
  top: 70vh;
  transform: translateY(300px);
  opacity: 0;
  transition: ease 0.6s all;
}
.gototop:hover {
  cursor: pointer;
}
.gototop-show {
  transform: translateY(0);
  opacity: 1;
}
