.article-container {
  padding: 73px 311px 0;
}

.article-head-title {
  font-family: Roobert;
  font-size: 50px;
  line-height: 62.5px;
  margin-bottom: 30px;
}
.article-sub-title {
  font-family: Life;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 57px;
  color: #747474;
}

.article-main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 61px;
}
.article-main-image > img {
  width: 100%;
  border-radius: 22px;
}
.article-main-image > span {
  color: #747474;
}

.article-author-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 81px;
}
.article-author-avatar {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: black solid 3px;
}
.article-author-identity {
  width: 362px;
}
#article-author-name {
  font-size: 22px;
  line-height: 26.4px;
  margin: 0;
}
#article-author-date {
  font-size: 18px;
  margin: 0;
  color: #747474;
}

.article-author-social-media > img {
  margin-right: 16px;
  width: 36px;
}

.article-body-article {
  margin-bottom: 124px;
}
